.header {
  background-image: linear-gradient(90deg, #38383896 0%, #21212176 100%),
    url(./../../../public/hotel.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}
.headerList {
  display: flex;
  gap: 40px;
}
.headerListItem {
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

.headerListItem:hover {
  border-bottom: 1px solid white;
  padding: 0 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 8px 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.headBtn {
  border: 2px solid #e29145;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.headerDesc {
  margin: 20px 0;
}
.headerBtn {
  background-color: #272a39;
  color: white;
  font-weight: 500;
  border: none;
  padding: 4px 10px;
  font-size: 14px;
  cursor: pointer;
}

.headerSearch {
  height: 55px;
  width: 70%;
  background-color: #e29145;
  color: #272a39;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  position: absolute;
  bottom: -25px;
}

.headerIcon {
  color: #464646;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  padding: 10px 5px;
  background-color: transparent;
}
.headerSearchInput::placeholder {
  color: #272a39;
}

.date {
  position: absolute;
  top: 55px;
  z-index: 2;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.options {
  position: absolute;
  z-index: 2;
  top: 55px;
  background-color: white;
  color: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #464646;
  box-shadow: 0 0 10px -5px gray;
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38%;
  font-size: 12px;
  color: black;
}

.optionCounterBtn {
  width: 25px;
  height: 25px;
  border: 1px solid #b5253d;
  color: #b5253d;
  cursor: pointer;
}

.optionCounterBtn:disabled {
  cursor: not-allowed;
}

.headerSearchAlert::placeholder{
    color: #b5253d;
}
